doctype
html
  head
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css")
    link(rel="stylesheet" type="text/css" href="stylesheets/style.css")
    script(src="//code.jquery.com/jquery-1.11.3.min.js")
    script(src="//code.jquery.com/jquery-migrate-1.2.1.min.js")
    script(src="javascripts/index.js")

  body

    div(class='page-header')
      h1 Ian Brennan
      h5 Junior Software Developer

    div(class='my_links')
      a(href="https://students.galvanize.com/people/282"): img(class='link_image' src="images/galvanize.png")
      a(href="https://www.linkedin.com/pub/ian-brennan/46/256/81b"): img(src="images/linked_in.jpg" class="link_image")
      a(href="https://github.com/ipbrennan90"): img(class="link_image" src='images/Github.png')




    div(class="panel panel-default")
        div(class='panel-heading education') Education
        div(class='panel-body')
          dl
            dt
              h4 Galvanize Full Stack
                dl
                  dt
                    h5 Full Stack Software Development
                  dt
                    p Studied Ruby on Rails, Javascript, jQuery, Express, SQL, and touched a plethora of others while studying at Galvanize Boulder
            dt
              h4 Colorado State University
                dl
                  dt
                    h5 BS Econcomics 2008-2012
                  dt
                    p Studied International Economics, Population Economics, and Econometrics
                      which was a study in statistics applied to Economics
            dt
              h4 Vysoká škola ekonomická v Praze
                dl
                  dt
                    h5 Econcomics 2011
                  dt
                    p Studied Environmental Economics, International Business, and the Czech Language while living in Prague for a semester.
      div(class="panel panel-default")
        div(class='panel-heading skills') Skills
        div(class='panel-body')
          dl
            dt
              h4 Fluent
                dl
                  dt
                    p Javascript
                  dt
                    p Ruby
                  dt
                    p Ruby On Rails
                  dt
                    Node.js
            dt
              h4 Familiar
                dl
                  dt
                    p Python
                  dt
                    p React
                  dt
                    p Express
                  dt
                    p R
                  dt
                    p SQL
                  dt
                    C++
      div(class=" panel panel-default")
        div(class='panel-heading experience') Experience
        div(class='panel-body')
          dl
            dt
              h4 Lead Designer and Contractor
                dl
                  dt
                    h5
                      strong Raska
                  dt
                    h6 September 2014 - January 2015
                  dt
                    p Designed a new space for a small restaurant in Fort-Collins. Increased seating capacity by 150%. Helped in menu design and ran the restaurant on my own for morning shifts after the renovation.
            dt
              h4 Founder
                dl
                  dt
                    h5
                      strong Data Tails
                  dt
                    h6 April 2014 - January 2015
                  dt
                    p Started my first company to do consulting work for a climate survey company. Used my knowledge of statistics to build on the company's original algorithms to quantify departmental climate and growth.
            dt
              h4 Zero Waste Research Volunteer
                dl
                  dt
                    h5
                      strong Eco-Cycle
                  dt
                    h6 February - May 2014
                  dt
                    p Researched and presented new automation ideas for the recycling of plastics. Mainly did research on the use of Tetrahertz cameras in plastic sorting.
